body {
  background: #f1f0f1;
}

.detail__product {
  width: 75%;
  height: 450px;
  background: white;
  margin: auto;
  margin-top: 50px;
}

.price__status {
  display: flex;
  flex-direction: row;

  div:first-child {
    margin-right: 40px;
  }
}
