@import "antd/dist/antd.css";

header {
  background: #323233;
  position: sticky;
  top: 0;
  z-index: 1;
}

body {
  background: white;
}

.navBar__nav__logo,
.navBar__nav__link,
.navBar__nav__Search,
.navBar__nav__menuIcon {
  color: #d6d6d6;
}

.navBar__nav__logo:hover,
.navBar__nav__link:hover,
.navBar__nav__Search:hover,
.navBar__nav__menuIcon:hover {
  color: white;
}
