header {
  // background: #1d1d1fb8;
  background: #000000cc;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  position: sticky;
  top: 0;
  z-index: 1;
}

body {
  background: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 44px;

  span {
    text-align: center;
    font-size: 16px;
    color: #d6d6d6;

    &:hover {
      color: white;
    }
  }

  &__logo {
    span {
      color: #9ede73;

      &:hover {
        color: #acf57c;
      }
    }
  }

  &__cart {
    :hover {
      color: #acf57c;
    }
  }

  &__search {
    input {
      height: 30px;
      width: auto;
      outline: none;
      border: none;
      text-indent: 10px;
    }
  }
}
