body {
  background: #f1f0f1;
}

button {
  cursor: pointer;
}

.detailProduct {
  .wrapper {
    height: 350px;
    margin-top: 20px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: start;

    &.wrapper--mobile {
      flex-direction: column;
      width: 450px;
      height: auto;
    }

    &__image {
      width: 345px;
      height: 345px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }

    &__info {
      margin-left: 60px;

      &--flex {
        display: flex;
        flex-direction: column;
      }

      &__discount {
        width: 50px;
        padding: 2px 0;
        text-align: center;
        color: white;
        background: #d42333;
        border-radius: 0 0 5px 5px;
        &.hidden {
          visibility: hidden;
        }
      }

      &__price {
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        background: #eee;
        padding: 15px 200px 15px 20px;

        &__properties {
          width: 150px;
          margin-right: 30px;
          font-size: 16px;
        }

        &__value {
          font-size: 16px;
          font-weight: bold;

          &--lineThrough {
            font-weight: normal;
            text-decoration: line-through;
          }
        }
      }

      &__counter {
        display: flex;
        flex-direction: row;
        align-items: flex-end;

        &__input {
          text-align: center;
          width: 30px;
          height: 30px;
          outline: none;
          border: 1px solid #e8e8e8;
        }

        button {
          width: 30px;
          height: 30px;
          outline: none;
          border: 1px solid #e8e8e8;
        }

        > div {
          font-size: 16px;
          margin-right: 30px;
          margin-left: 15px;

          + div {
            + div {
              font-size: 25px;
              font-weight: bold;
            }
          }
        }
      }
    }

    &__button {
      margin-top: 20px;

      button,
      a {
        padding: 5px 30px;
        cursor: pointer;
      }

      a {
        background: #d10a00;
        border: 1px solid #d10a00;
        border-radius: 3px;
        color: white;
      }

      :last-child {
        margin-left: 20px;
        border: 1px solid #d42333;
        border-radius: 3px;
        color: #d42333;
        background: white;
      }
    }
  }
}
